---
---
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&family=Stylish&display=swap');
@import "main";

@font-face{
	font-family: 'NegativeSystem';
	src: url(negative_system.otf) format("opentype");
}

@font-face{
	font-family: 'ModernDos';
	src: url(ModernDOS8x16.ttf) format("opentype");
}



/* Header Styling */
.intro-header-inner { 
font-family: 'ModernDos';
font-size: 4em; 
color: white;
width: fit-content;
height: fit-content;
padding: 0.5rem; 
margin: 0 auto;
}


.intro-header-outer{
	position: relative;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	justify-content: center;
}


/*NavBar*/
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar ul{
	display: flex;
	position: relative;
	align-self: center;
	align-items: flex-start;
	flex-flow: row wrap;
	justify-content: center;
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 35px;
}

.navbar ul li{
	position: relative;
	justify-content: center;
	padding: 1em;
	text-align: center;
	font-family: 'ModernDos';
	font-size: 1.5em;	
	margin: 0 auto;
	flex-grow: auto 1 1;
	background-color: grey;
}

.navbar a{
	color:black;
}
.navbar li:hover, .navbar li:active a{
	background-color: teal;
	color: blue;
}

.navbar li:hover a{
	color: blue;
}



/* Title  styling */
h1, h2, h3, h4, h5, h6 { font-family: 'ModernDos', sans-serif; text-transform: lowercase; color: black}

body {background-color: black; color: black}



/* Wrapper */
.wrapper { 
	max-width: -webkit-calc(30em + (100px * 2)); 
	max-width: calc(30em + (100px * 2)); 
	margin-right: auto; 
	margin-left: auto;
	padding-top: 7px; 
	padding-bottom: 7px; 
	padding-right: 32px; 
	padding-left: 32px; 
	background-color: white; 
	border-style: double; 
	z-index: 0; 
	position: relative; 
	font-family: monospace; 
	font-size: x-large; }



/*

below code is from https://maya.land/assets/main.css

thanks, maya!

/*

/** Images */
img, canvas { max-width: 100%; vertical-align: middle; image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: pixelated; -ms-interpolation-mode: nearest-neighbor; }

/** Figures */
figcaption { opacity: 0; transition-timing-function: ease-in; transition: opacity 2.5s; }

figure:hover figcaption { opacity: 1; transition: opacity 0.25s; }

figure > img { display: block; opacity: 1; }

figcaption { font-size: 15.75px; }


/** Page content */
.page-content { padding: 25px 0; flex: 1;}

.page-heading { font-size: 36px; }

.post-list-heading { font-size: 31.5px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 25px; }

.post-meta { font-size: 15.75px; color: #75470B; }

.post-link { display: block; font-size: 27px; }

/** Bottom bar*/
.bottom {
	position: relative;
	align-content: center;
	display: block;
	text-align: center;
	padding: 10px;
	max-width: -webkit-calc(30em + (150px * 2)); 
	max-width: calc(30em + (150px * 2)); 
	margin: 0 auto;
	margin-top: 5%;
}
