<!doctype html>
<html>
  <head>
    <meta charset="utf-8">    
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
	<!--inserting kramdown rouge syntax highlighter-->
	<link rel="stylesheet" href="/assets/css/syntax.css" />

    <!--indieweb stuff-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8i">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    <link rel="icon" href="/assets/images/favicon.ico"/>
  </head>
  <body>
	  <div class="intro-header-outer">
		  <div class="intro-header-inner">
			  {{ site.title }}
		  </div>
	  </div>
<div class="navbar">

	  	  <ul>
		  {% for item in site.data.navigation %}			  <div class="navbar">
		  <!-- <div class="navbar-content"> -->
			<!--<div class="navbar-content">-->
		  <li>
			  <a href="{{ item.link }}">
				  {{ item.name }}
			  </a>
		  </li>
		  <!--</div>-->
		  <!-- </div> -->

		  {% endfor %}
	  </ul>
	</div>
  
	  <div class="wrapper">
		  {{ content }}
	  </div>
		<div class="bottom">
			<img src="/assets/images/vim.vialle.love.anim.gif">
			<img src="/assets/images/tor_button.gif">
			<img src="/assets/images/jojo_button.gif">
			<img src="/assets/images/antinft.gif">
			<img src="/assets/images/poweredbyfedora.gif">
			<img src="/assets/images/getquake.gif">
		</div>
  </body>
</html>
